---
import "../styles/global.css";
import Header from "../components/header.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Home</title>
	</head>
	<body>
		<Header></Header>
		<main>
			<h1>Simple Unit Conversions</h1>
			<p>Select a category below to start converting units instantly.</p>
			<div>
				<div>
					<img src="" alt="">
					<a href="">Length Converter</a>
					<p>Convert between meters, feet, inches, miles and more.</p>
				</div>
			</div>
		</main>
	</body>
</html>
