<div class="flex flex-col justify-center items-center my-5">
    <div class="flex gap-4">
        <a class="text-sm text-gray-600 mt-4" href="">About Us</a>
        <a class="text-sm text-gray-600 mt-4" href="">Contact</a>
        <a class="text-sm text-gray-600 mt-4" href="">Privacy Policy</a>
    </div>
    <p class="text-sm text-gray-600 mt-4">&copy; 2025 Unit Converter. All rights reserved.</p>
</div>