<header class="flex p-8 align-center justify-between border-b border-gray-300">
    <div class="flex">
        <img src="https://www.svgrepo.com/show/495193/convertshape-2.svg" width="25px" alt="Unit Converter Logo">
        <h1 class="text-xl font-medium text-black ml-2">Unit Converter</h1>
    </div>
    <div class="flex">
        <a href="/" class="ml-4 text-gray-600 font-semibold hover:text-blue-600">Home</a>
        <a href="/length" class="ml-4 text-gray-600 font-semibold hover:text-blue-600">Length</a>
        <a href="/weight" class="ml-4 text-gray-600 font-semibold hover:text-blue-600">Weight</a>
        <a href="/temperature" class="ml-4 text-gray-600 font-semibold hover:text-blue-600">Temperature</a>
    </div>
    
</header>